body{
    margin: 0px;
    padding: 0px;
}
ul, #main-Image {
    float: left;
}
ul li {
    list-style: none;
}
ul li img {
    border-style: ridge;
    width: 120px;
    cursor:pointer;
}
#main-Image {
    width: 900px;
}

#main-Image img {
    width: 615px; 
    margin-top: 17px;
    margin-left: 20px;
}
